# Workflow
!config/config.yaml
!config/samples.tsv
!config/units.tsv
!LICENSE
!README.md
resources
resources/*
results
results/*
!workflow
!workflow/*
!workflow/**
workflow/scripts/.snakemake*
!.gitignore
!.editorconfig
!.gitattributes
.snakemake
tests/logs
tests/logs/*

# Result Plots
*.pdf

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Large files
*.bam
*.sam
*.fastq.gz
*.fastq
*.fq.gz
*.fq
*.rds


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
devcontainer.env

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/